# Logs
*.log
npm-debug.log
yarn-error.log

# Environment files
.env
.env.backup
.env.production

# Dependencies
/vendor/
/node_modules/

# Laravel specific
.phpunit.result.cache
.phpactor.json
/bootstrap/compiled.php
/app/storage/
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot
/storage/*.key
/storage/pail
auth.json

# IDE files
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# OS files
.DS_Store
Thumbs.db

# Homestead
Homestead.json
Homestead.yaml
/.vagrant
